<td [class.completed]="todo?.completed"><input type="checkbox" [checked]="todo?.completed" (change)="toggleCompleted()"></td>
<td [class.completed]="todo?.completed"><app-priority [priority]="todo?.priority"></app-priority></td>
<td [class.completed]="todo?.completed">{{todo?.id}}</td>
<td [class.completed]="todo?.completed">{{todo?.description}}</td>
<td [class.completed]="todo?.completed">{{todo?.dueDate | date:'dd.MM.yyyy':'UTC'}}</td>
<td [class.completed]="todo?.completed">{{todo?.category}}</td>
<td>
  <button (click)="deleteTodo()"><i class="bi bi-trash"></i></button>
</td>