<app-navbar></app-navbar>
<app-message-box></app-message-box>
<div class="container mt-5">
  <div class="row">
    @if (isRouteListe) {
      <div class="col-2">
        @if (showSidebar) {
          <app-sidebar></app-sidebar>
        }
        <div class="toggle-button">
          <button (click)="toggleSidebar()">
            @if (showSidebar) {
              <i class="bi bi-arrow-left"></i>
            } @else {
              <i class="bi bi-arrow-right"></i>
            }
          </button>
        </div>
      </div>
    }
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
