<h2>Einstellungen</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Todo-Liste</h4>
            <div class="container">
                <input type="checkbox" id="moveCompletedTodos" name="moveCompletedTodos">
                <label for="moveCompletedTodos">Fertige Todos nach unten verschieben</label>
            </div>
            <div class="container">
                <input type="checkbox" id="showDeleteButton" name="showDeleteButton" [(ngModel)]="showDeleteButton"
                    (ngModelChange)="updateShowDeleteButton($event)">
                <label for="showDeleteButton">Löschen-Button anzeigen</label>
            </div>
        </div>
    </div>
</div>